html, body {
  background-color: black;
  text-align: center;
}

body {
  font-size: 1.5vw;
  color: white;
}

input, button {
  color: white;
  background-color: black;
  text-align: center;
}
button:hover {
  color: black;
  background-color: red;
  box-shadow: 0 0 12vw red;
}

ol, li, ul {
  list-style: none;
}

h1 {
  font-size: 10vw;
  text-shadow: 0 0 4vw red;
}

img {
  box-shadow: 0 0 12vw white;
  width: 7vw;
  height: 7vw;
  filter:grayscale(100%);
  background: transparent url("http://www.profootballhof.com/assets/1/19/Lewis1050.jpg?75098")center top no-repeat;
}
